.block-header {
    padding-top: 3rem;
    border-bottom: 3px solid black;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.layout-header-card {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}